html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    background-color: burlywood;
}

.footer {
    background-color: cadetblue;
}

.wrapper {
    position:relative;
    min-height:100%;
    height:auto!important;
    overflow:hidden;
}

.wrapper:after {    
    content: "";
    height: 80px;
    display: block;
}

.footer {
    position:relative;
    height: 80px;
    margin-top: -80px;
}